.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 1s;
}

.main-bg {
  height: 300px;
  background-image: url('./img/samgak.jpg');
  /* background-size: cover; */
  background-position: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 최근 본 상품 기능 */
.cart-box {
  position: fixed;
  top: 50%; /* 조정 가능한 값 */
  right: 20px;
  transform: translateY(-50%);
  background-color: #ffb618;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-box p {
  margin: 0;
}

.cart-box p:first-child {
  font-size: 23px; /* p태그의 '최근 본 상품'의 폰트 사이즈 */
}

.get-local {
  margin-top: 10px;
  font-size: 24px;
}
/* 최근 본 상품 기능 */

